Repository trueforge-org/containerforge, pull requests merged in 2025-10, with the labels that each got.

#40 Update esphome ( 2025.9.2 → 2025.9.3 )
  apps/esphome/docker-bake.hcl
Labels: area/apps, type/patch, app/esphome

#42 Update homeassistant ( 2025.9.4 → 2025.10.0 )
  apps/home-assistant/docker-bake.hcl
Labels: area/apps, type/minor, app/home-assistant

#31 Update renovate/renovate ( 41.131.9 → 41.132.5 )
  apps/renovate/docker-bake.hcl
Labels: area/apps, type/minor, app/renovate

#53 attempt fixing HA
  apps/home-assistant/Dockerfile
  apps/home-assistant/start.sh
Labels: area/apps, app/home-assistant, app/python

#52 Update Jackett/Jackett ( v0.24.31 → v0.24.37 )
  apps/jackett/docker-bake.hcl
Labels: area/apps, type/patch, app/jackett

#54 Add NGINX base container
  apps/.DS_Store
  apps/nginx/Dockerfile
  apps/nginx/container_test.go
  apps/nginx/defaults/default.conf
  apps/nginx/defaults/nginx.conf
  apps/nginx/docker-bake.hcl
  apps/nginx/docker-entrypoint.d/03-copyconfig.sh
  include/.dockerignore
Labels: area/apps, app/home-assistant, app/ubuntu

#49 Update homeassistant ( 2025.10.0 → 2025.10.1 )
  apps/home-assistant/docker-bake.hcl
Labels: area/apps, type/patch, app/home-assistant

#57 Update lidarr ( 2.14.4.4817 → 2.14.5.4825 )
  apps/lidarr/docker-bake.hcl
Labels: area/apps, type/patch, app/lidarr

#59 Update Jackett/Jackett ( v0.24.37 → v0.24.72 )
  apps/jackett/docker-bake.hcl
Labels: area/apps, type/patch, app/jackett

#60 Update prowlarr ( 2.1.2.5186 → 2.1.3.5208 )
  apps/prowlarr/docker-bake.hcl
Labels: area/apps, type/patch, app/prowlarr

#62 rework devcontainer
  apps/devcontainer/Dockerfile
  apps/devcontainer/docker-bake.hcl
Labels: area/apps, app/devcontainer

#63 work on ARM64 runner
  apps/actions-runner/Dockerfile
  apps/actions-runner/docker-bake.hcl
Labels: area/apps, app/actions-runner

#61 Update renovate/renovate ( 41.132.5 → 41.135.5 )
  apps/renovate/docker-bake.hcl
Labels: area/apps, type/minor, app/renovate

#68 Update radarr ( 6.0.1.10258 → 6.0.2.10271 )
  apps/radarr/docker-bake.hcl
Labels: area/apps, type/patch, app/radarr
